//字体大小
.fs0{font-size: 0;}
.fs12{font-size:12px;}
.fs14{font-size:14px;}
.fs16{font-size:16px;}
.fs18{font-size:18px;}
.fs20{font-size:20px;}
.fs24{font-size:24px;}
.fs30{font-size:30px;}
.fs36{font-size:36px;}

//字体加粗
.fwb{font-weight:bold;}

//字体不加粗
.fwn{font-weight:normal;}

//字体间距
.ls0{letter-spacing: 0;}
.ls2{letter-spacing: 2px;}
.ls5{letter-spacing: 5px;}

//加下划线
.tdu{text-decoration:underline;}

//字体颜色
.col-red{color:#a51515}


//边框
.border-bot1{border-bottom: 1px dashed #f9f9f9;}
.border-top1{border-top:none !important;}

//水平位置
.tal{text-align:left;}
.tac{text-align:center;}
.tar{text-align:right;}
.taj{text-align:justify;text-justify:inter-ideograph;}
.mga{margin-left:auto;margin-right:auto;}

//垂直位置
.vam,.vama *{vertical-align:middle; display: inline-block;}
.vamb:before{content: '';height: 100%;vertical-align: middle;display: inline-block;}
.vat{vertical-align: top;}
.vab{vertical-align: bottom;}
.vabl{vertical-align: baseline;}

//浮动定位
.fl{float:left;}
.fr{float:right;}

//定位
.pr{position:relative;}
.pa{position:absolute;}
.pf{position:fixed;}

//行块元素转换
.dib{display:inline-block;*display:inline;*zoom:1;}
.dn{display:none;}
.db{display:block;}
.vh{visibility: hidden;}

//清除浮动
.clearfix:after{content: " "; display: block; height:0; clear:both; visibility: hidden; overflow:hidden;}
.cb{clear:both;}

//溢出
.ofa{overflow:auto;}
.ofh{overflow:hidden;}
.ellipsis{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}

//基本背景色



//hover效果

.hand:hover{cursor: pointer;}
.bd-hover:hover{font-weight:bold;}


//宽高
.w{width:100%;}
.h{height:100%;}

.w90{width:90px;}
.w130{width:130px;}
.w239{width:239px;}
.w240{width:240px;}
.w267{width:267px;}
.w320{width:320px;}
.w480{width:479px;}
.w757{width:757px;}
.h38{height:38px;}
.h210{height:210px;}
.h260{height:260px;}
.mh200{min-height:200px;}
.w1000{width:1000px;}
.w1200{width:1200px;}
.mw{min-width:1200px;}


//外边距
.mt1{margin-top:1px;}
.mt4{margin-top:4px;}
.mt5{margin-top:5px;}
.mt6{margin-top:6px;}
.mt7{margin-top:7px;}
.mt8{margin-top:8px;}
.mt10{margin-top:10px;}
.mt12{margin-top:12px;}
.mt15{margin-top:15px;}
.mt20{margin-top:20px;}
.mt30{margin-top:30px;}
.mt40{margin-top:40px;}
.mt33{margin-top:33px;}
.mt50{margin-top:50px;}
.mt60{margin-top:60px;}
.mt80{margin-top:80px;}
.mt120{margin-top:120px;}
.ml10{margin-left:10px;}
.ml20{margin-left:20px;}
.ml30{margin-left:30px;}
.ml37{margin-left:37px;}
.ml45{margin-left:45px;}
.ml65{margin-left:65px;}
.ml130{margin-left:130px;}
.mr-15{margin-right:-15px;}
.mr5{margin-right:5px;}
.mr10{margin-right:10px;}
.mr15{margin-right:15px;}
.mr19{margin-right:19px;}
.mr20{margin-right:20px;}
.mr30{margin-right:30px;}
.mr40{margin-right:40px;}
.mr50{margin-right:50px;}
.mr70{margin-right:70px;}
.mr80{margin-right:80px;}
.mr180{margin-right:180px;}
.mb10{margin-bottom:10px;}
.mb20{margin-bottom:20px;}
.mb30{margin-bottom:30px;}
.mb50{margin-bottom:50px;}
.mb60{margin-bottom:60px;}

//内边距
.pt3{padding-top:3px;}
.pt5{padding-top:5px;}
.pt8{padding-top:8px;}
.pt10{padding-top:10px;}
.pt18{padding-top:18px;}
.pt25{padding-top:25px;}
.pt20{padding-top:20px;}
.pt30{padding-top:30px;}
.pt38{padding-top:38px;}
.pt50{padding-top:50px;}
.pl5{padding-left:5px;}
.pl7{padding-left:7px;}
.pl10{padding-left:10px;}
.pl15{padding-left:15px;}
.pl20{padding-left:20px;}
.pl30{padding-left:30px;}
.pl35{padding-left:35px;}
.pl40{padding-left:40px;}
.pl80{padding-left:80px;}
.pl85{padding-left:85px;}
.pl120{padding-left:120px;}
.pl280{padding-left:280px;}
.pr10{padding-right:10px;}
.pr20{padding-right:20px;}
.pr35{padding-right:35px;}
.pr50{padding-right:50px;}
.pr70{padding-right:70px;}
.pb10{padding-bottom:10px;}
.pb20{padding-bottom:20px;}
