html,body{
    height: 100%;
    overflow: hidden;
}
.g-head{
    height: 42px;
    line-height: 42px;
    background: $topic-color;
    color: #fff;
    min-width: 1200px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    ul {
        width: 1000px;
        margin: 0 auto;
        li {
            padding: 0 10px;
            float: left;
            cursor: pointer;
            &:last-child {
                float: right;
            }
            &:hover{
                background: $sub-topic-color;
            }
            a {
                color: #fff;
                display: block;
            }
        }
        .router-link-exact-active{
            background: $sub-topic-color;
        }
    }
}
.g-body{
    height: 100%;
    padding-top: 42px;
}